# Python
.venv/
__pycache__/
*.pyc

# PyCharm
.idea/

# Environment variables and secrets
.env
kaggle.json

# Raw and processed data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/model/*
!data/model/.gitkeep

data/api/*
!data/api/.gitkeep

# Local warehouse
warehouse/*
!warehouse/.gitkeep

# Generated reports
reports/*.html
!reports/.gitkeep